<%- include('partials/header') %>

    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Great!</h1>
    <p class="lead">Now you are Registered with us.</p>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>
<%- include('partials/footer') %>
